@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: bisque;
}

body{
    background: #000;
    margin: 1rem;
}

.heading{
    max-width: 1280px;
    margin: auto;
}

.title{
    text-align: center;
    padding: 1rem;
    border: 0.2rem solid blue;
    border-radius: 0.5rem;
}

.game{
    grid-area: game;
}
.next-element{
    grid-area: next-element;
}
.high-score{
    grid-area: high-score;
}
.actual-score{
    grid-area: actual-score;
}
.speed-level{
    grid-area: speed-level;
}

.commands{
    grid-area: commands;
}
.commands .btn{
    color: black;
    padding: 10px;
}

.grid-conteiner {
    display: grid;
    max-width: 1280px;
    align-items: stretch;
    justify-items: stretch;
    margin: auto;
    padding-top: 1rem;
    gap: 1rem;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "game next-element"
    "game high-score"
    "game actual-score"
    "game speed-level"
    "commands commands";
}

.grid-item {
    padding: 1rem;
    border: 0.2rem solid blue;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (max-width: 645px) {
    .grid-conteiner {
        padding-top: 0.7rem;
        gap: 0.7rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "next-element high-score actual-score speed-level"
        "game game game game"
        "commands commands commands commands";
    }
    .grid-item {
        padding: 0.6rem;
        text-align: center;
        font-size: 0.5rem;
    }
    .title{
        padding: 0.6rem;
        font-size: 1.6rem;
    }
}

.block-space {
    height: 100%;
    width: 100%;
    border: 1px solid #383838;
}

[block-type="i"] {
    background-color: chocolate;
}
[block-type="j"] {
    background-color: darkblue;
}
[block-type="l"] {
    background-color: darkgreen;
}
[block-type="o"] {
    background-color: darkred;
}
[block-type="s"] {
    background-color: sienna;
}
[block-type="t"] {
    background-color: darkgrey;
}
[block-type="z"] {
    background-color: rgb(72, 0, 140);
}

.grid-game{
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(20, 20px);
    align-content: center;
    justify-content: center;
}